#Main{
 width: 70%;
 margin: 0 auto; 
 position: relative;
 z-index: 10;
 color: #fff;

}
.fish{
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 40px;
	width: auto;
	z-index: 9000;
}

body, html, #overlay{
	padding: 0;
	margin: 0;
}
body{
	color: black;
	font-family: Arial, sans-serif;
	font-size: 1 em;
	background: url("./Project\ 2\ images/pike.jpg") no-repeat;
	background-size: cover;
}
#overlay{
 position: fixed;
 display: block;
 z-index: -10;
 height: 100%;
 width: 100%;
 background: rgba(0,0,0,.6);
}


h1 {
	font-family: Arial, serif;
	padding: 20px 0px;
	color: #fff;
	font-weight: 800;
	margin: 0px;
	border-radius: 20px;
	font-weight: normal;
	text-align: left;
	overflow: hidden;

	}
	h2{
	font-family: Arial,serif;
	width: 40%;
	color: #black;
	border-radius: 10px;
	font-weight: normal;
	overflow: hidden;
	clear: both;
	}
	h3{
	font-family: Arial, sans-serif;
	width: 30%;
	padding: 10px;
	color: #black;
	margin: 5px;
	border-radius: 10px;
	font-weight: normal;
	overflow: hidden;
	}
nav li{
	list-style-type: none;
	display: block;
}

a:link{
	color: blue;	
}

a:visited{
	color: #ff0000;
}

a:hover{
	color: #cc00ff;
	font-style: italic;
}

a:active{
	color: #0066FF;
}
img.Image1{
width: 250px;
 height: auto;
 display: inline-block;
 padding:20px;
 float: left;
}	
img.Image2{
 width: 250px;
 height: auto;
 display: inline-block;
 padding:20px;
 float: right;
}
 p{
 	text-align: justify;
 }
#Footer p{
	color:yellow;
	text-align: center;
	}
